branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
decorator==5.1.0
folium==0.12.1
future==0.18.2
geocoder==1.38.1
idna==3.3
Jinja2==3.0.2
MarkupSafe==2.0.1
numpy==1.21.3
phonenumbers==8.12.35
ratelim==0.1.6
requests==2.26.0
six==1.16.0
urllib3==1.26.7
